$tuna: hsl(240, 10%, 22%);
$tundora: hsl(0, 0%, 30%);
$silver: hsl(0, 0%, 80%);
$white: hsl(0, 0%, 100%);

$primary: hsl(155, 67%, 42%);
$accent: hsl(0, 80%, 50%);

$name-gradient-dark: hsl(240, 2%, 14%);
$name-gradient-light: hsl(240, 0%, 36%);
