@import 'colors';

#head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.name-title {
  margin-bottom: .5rem;
  color: transparent;
  background: $name-gradient-dark;
  background: -webkit-linear-gradient(to right, $name-gradient-dark, $name-gradient-light);
  background: linear-gradient(to right, $name-gradient-dark, $name-gradient-light);
  -webkit-background-clip: text;
  background-clip: text;
}

.location {
  color: $silver;
  font-weight: 500;
  margin-bottom: .5rem;
}

#contacts {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 1rem;
}

.contact {
  color: $tuna;

  &:hover {
    color: $accent;
  }
}