@import 'colors';

#head {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.name-title {
  margin-top: 0;
  margin-bottom: .5rem;
}

.location {
  color: $silver;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: .5rem;
}

.contacts {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-bottom: .5rem;
}

.contact {
  color: $tuna;

  &:hover {
    color: $accent;
  }
}