@import "colors";

#head {
  display: flex;
  justify-content: space-between;
}

.name-role {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.contact {
  color: $tuna;
  white-space: nowrap;

  &:hover {
    color: $accent;
  }
}
