@import 'colors';

.project {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0.5rem;
}

.is-half-width {
  width: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
}

.date {
  margin: 0;
  color: $silver;
  font-weight: 700;
  white-space: nowrap;
}

.website {
  color: $tundora;
  margin-bottom: .4rem;
  margin-top: 0;

  &:hover {
    color: $accent;
  }
}

.description {
  margin: 0;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.tech {
  margin-top: .4rem;
  margin-bottom: 0;
  margin-right: .4rem;
  padding-left: .4rem;
  padding-right: .4rem;
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: 0.8rem;
  border: 1px solid $tundora;
  color: $tundora;
  border-radius: 4px;
}