@import "colors";

.project {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0.5rem;
}

.secondary-projects {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
}

.is-half-width {
  width: 50%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  flex-grow: 1;
}

.date {
  margin: 0;
  color: $silver;
  font-weight: 700;
  white-space: nowrap;
}

.website {
  margin-bottom: 0.4rem;
  margin-top: 0;

  a {
    color: $tundora;
    &:hover {
      color: $accent;
    }
  }
}

.description {
  margin: 0;
  text-align: justify;
}

.techs {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.tech {
  margin-top: 0.4rem;
  margin-bottom: 0;
  margin-right: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: 0.8rem;
  border: 1px solid $tundora;
  color: $tundora;
  border-radius: 4px;
}
