@import "colors";
@import "header";
@import "line";
@import "project-block";

body {
  background-color: $gallery;
  font-family: Arial, Helvetica, sans-serif;
}

#download-section {
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}

#download-button {
  border-width: 0;
  border-radius: 4px;
  background: none;
  color: $boulder;
  font-size: 2rem;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background: $alto;
  }
}

#content {
  box-sizing: border-box;
  width: 21cm;
  max-width: 21cm;
  margin: 0 auto;
  padding: 2rem;
  color: $tuna;
  background-color: $white;
  box-shadow: $silver 0px 0px 10px 10px;
  font-size: 1rem;
}

#intro {
  margin: 0;
}

.section-title {
  margin-bottom: 0.5rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 700px) and (max-width: 800px) {
  body {
    background-color: $white;
  }

  #content {
    box-shadow: unset;
    width: 100%;
    padding: 1rem;
  }

  #download-button {
    background: $gallery;
  }
}

@media screen and (max-width: 700px) {
  body {
    margin: 0;
    background: $white;
  }

  #download-button {
    background: $gallery;
  }

  #content {
    width: 100%;
    box-shadow: none;
    padding: 1rem;
  }

  #head {
    flex-direction: column;
  }

  .contacts {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  #intro {
    margin-top: 0.5rem;
  }

  .is-half-width {
    // This class is used on bigger screens and
    // for printing to avoid taking the whole screen,
    // but on smaller screens like mobile if we leave
    // it as 50% it sucks, so we let it take the whole
    // screen.
    // Makes sense, right?
    width: 100%;
  }
}

@media print {
  body {
    background-color: $white;
  }

  #download-section {
    display: none;
  }

  #content {
    margin: 0;
    padding: 0;
    box-shadow: unset;
  }

  .pagebreak {
    page-break-after: always;
  }
}
